.fileInput {
  position: relative;
  width: 182px;
  height: 100%;
  overflow: hidden;
}

.fileInputPreview {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
}

.fileInputPreview.selected {
  opacity: 0.48;
}

.fileInputHiddenOverlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.fileInputClearButton {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 26px;
  height: 26px;
  padding: 7px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
}
